<head>
    <title>Schaatsplank</title>
    <script src="vendor/vue.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css" />
    <meta content="text/html" charset="utf-8" />
</head>

<div v-cloak>

<div class='overlay video-wrap' :style="{ background: mode == 1 && starting ? 'black' : 'transparent' }">
<video id="film" preload="auto" :style="{ opacity: mode == 1 ? (starting ? 0 : 1) : 0.2 }" loop autoplay muted>
    <!--<source id='crop' src="github/releases/download/v4/crop.m4v" type="video/mp4" />-->
    <source id='original' src="github/releases/download/v4/film.mp4" type="video/mp4" data-loopStart="24.41666" data-loopEnd="42.35" />
    <!--<source id='original' src="github/releases/download/v4/film.mp4" type="video/mp4" data-loopStart="5" data-loopEnd="8" />-->
</video>
</div>

<div class="topleft" v-show="mode == 0">
    <template v-for="distance in distances">
        <knop v-on:click="start(distance.value)">Start {{ distance.value}}</knop>
    </template>
</div>
<div class="topleft" v-show="mode > 0">
    <nos>{{match.time | time}}</nos>
    <nos>{{match.distance.toFixed(0)}}m</nos>
    <nos>S {{match.speed && match.speed.toFixed(0)}} m/s</nos>
    <nos>A {{match.acc && match.acc.toFixed(2)}} m/s<sup>2</sup></nos>

    <svg viewBox="0 0 40 164" xmlns="http://www.w3.org/2000/svg" style="width: 15vw; height: 15vw;" id="person" :style="{ opacity: mode == 1 && !starting ? 1 : 0 }">
        <text id="angle" x="0" y="30" style="font-size: 50%">45°</text>
        <!--class="bottomright"-->
        <g fill="#D8D8D8" fill-rule="evenodd" stroke="#D8D8D8" stroke-width="12" id="final">
            <path id="head" d="" stroke="none"></path>
            <path id="body" d="" fill="none"></path>
            <path id="arms" d="" fill="none"></path>
        </g>
        <g stroke="none" style="visibility:hidden">
            <path id="deep_head" d="M75,30 C83.2842712,30 90,23.2842712 90,15 C90,6.71572875 83.2842712,0 75,0 C66.7157288,0 60,6.71572875 60,15 C60,23.2842712 66.7157288,30 75,30 Z"></path>
            <path id="deep_body" d="M73.8313537,17.9905085 C54.6588665,24.6967053 38.7111652,33.6537601 27.1476915,47.8236536 C15.5842178,61.9935471 21.7253808,63.1668141 42.9659206,63.1668151 C64.2064604,63.1668161 64.7382602,65.0010011 64.7382597,69.4046816 C64.7382593,73.2828209 64.1544053,76.2021883 52.8625082,83.6333231 C45.2582832,88.6376214 35.394884,99.8321848 33.0283676,100.944522 C27.1476916,103.708625 52.8625082,102.156944 52.8625082,102.156944"></path>
            <path id="deep_arms" d="M57.0846066,25 C47.5957569,51.4661331 22.054081,55.2010711 0,49.6945095"></path>
        </g>
        <g stroke="none" style="visibility:hidden">
            <path id="standing_head" d="M23,30 C31.2842712,30 38,23.2842712 38,15 C38,6.71572875 31.2842712,0 23,0 C14.7157288,0 8,6.71572875 8,15 C8,23.2842712 14.7157288,30 23,30 Z"></path>
            <path id="standing_body" d="M20.5742178,26.25 C18.8771295,33.861263 20.5742175,41.4296875 10.1796866,63.9765625 C-0.214844284,86.5234375 -2.99371527,86.9023438 6.02836759,102.015625 C15.0504505,117.128906 20.5742173,121.003906 20.5742178,125.308594 C20.5742183,129.613281 14.9999998,132.713379 10.1796875,140.378906 C5.35937519,148.044434 3.51510678,156.889433 4.23353804,157.136134 C7.53268283,158.269021 25.8625082,157.156944 25.8625082,157.156944"></path>
            <path id="standing_arms" d="M18.6996508,38.4286322 C18.6996508,81.5887884 5.44140627,78.5039062 24.765625,105.898437"></path>
        </g>
    </svg>
</div>

<div class="topleft" v-if="mode == -1">
    <knop v-on:click="home()">Terug</knop>
</div>

<div class="bottomleft" v-if="mode >= 1">
    <knop v-on:click="home()">Terug</knop>
</div>

<div class="topright" v-if="offline">
    <knop v-on:click="reconnect()">Offline, reconnect</knop>
</div>

<div class="centered" transition="bounce" v-show="hasMessage">{{message}}</div>

<div class="bottomleft wide" v-if="mode == 0">
    <table id="small-rankings">
        <thead><tr>
            <th colspan="2">
                <div class='fill'>
                    <div class='diagl'></div>
                    <a class='th darker' v-on:click="menu()">KLASSEMENT</a>
                    <div class='diagr'></div>
                </div>
            </th>
            <th class="time">
                <div class='fill'>
                    <div class='diagl'></div>
                    <div class='th darker'>PTS</div>
                    <div class='diagr'></div>
                </div>
            </th>
        </tr></thead>
        <template v-for="skater in rankings | orderBy bestRanking | limitBy 5">
            <tr class='row-spacing'><td colspan="*"></td></tr>
            <tr class='lighter'>
                <td class="darker">
                    {{ $index + 1 }}
                    <div class='diagr'></div>
                </td>
                <td><span>{{ skater.name }}</span></td>
                <td class='time darker'>
                    <div class='diagl'></div>
                    {{ skater.pts | pts }}
                    <div class='diagr'></div>
                </td>
            </tr>
        </template>
    </table>
</div>

<template name="knop">
    <h1 class='fill' style="margin: 0 0 2vw">
        <div class='diagl'></div>
        <div class='th darker'><slot></slot></div>
        <div class='diagr'></div>
    </h1>
</template>

<template name="btn">
    <div class='fill'>
        <div class='diagl'></div>
        <div class='th darker'><slot></slot></div>
        <div class='diagr'></div>
    </div>
</template>

<template name="nos">
    <h1 class='fill' style="margin: 0 0 2vw">
        <div class='diagl'></div>
        <div class='th darker'><slot></slot></div>
        <div class='diagr'></div>
    </h1>
</template>

<div class="centerbox" v-if="mode == -1">
    <h1 class='fill' style="margin-bottom:1vw">
        <div class='diagl'></div>
        <div class='th darker'>Klassement</div>
        <div class='diagr'></div>
    </h1>
    <table id="ranking">
        <thead><tr>
            <th></th>
            <th></th>
            <th v-for="distance in distances" class="time">
                <div class='fill'>
                    <div class='diagl'></div>
                    <div class='th darker'>{{ distance.value }}m</div>
                    <div class='diagr'></div>
                </div>
            </th>
        </tr></thead>
        <template v-for="skater in rankings | orderBy bestRanking">
            <tr class='row-spacing'><td colspan="*"></td></tr>
            <tr class='lighter' v-bind:class="{accent: match.done && latest && latest.name == skater.name}">
                <td class="darker">
                    {{ $index + 1 }}
                    <div class='diagr'></div>
                </td>
                <td><input v-model="skater.name" v-on:keyup.enter="save(skater)" /></td>
                <td v-for="rank in skater.results" class='time' v-bind:class="{darker: rank.original}">
                    <div v-if="rank.original">
                    <div class='diagl'></div>
                    {{ rank.original.time | time }}
                    <div class='diagr'></div>
                    </div>
                    <btn v-else v-on:click="start(rank.distance, skater.name)">Start</btn>
                </td>
                <td class='time darker'>
                    <div class='diagl'></div>
                    {{ skater.pts | pts }}
                    <div class='diagr'></div>
                </td>
            </tr>
        </template>
    </table>

    <div style="margin-top:6vw; width: 25%; float: right;">
        <knop v-on:click="clear_ranking()">Delete All</knop>
    </div>

    <h1 class='fill' style="margin-bottom:1vw; margin-top:1vw">
        <div class='diagl'></div>
        <a class='th darker' v-on:click="config = !config">Configuratie</a>
        <div class='diagr'></div>
    </h1>
    <table v-if="config">
        <template v-for="distance in distances">
            <tr class='lighter'>
                <td class="darker">
                    <input type="checkbox" v-model="distance.shown" />
                    <div class='diagr'></div>
                </td>
                <td><input type="text" v-model="distance.name" /></td>
                <td><input type="number" v-model="distance.value" number /></td>
            </tr>
            <tr class='row-spacing'><td colspan="*"></td></tr>
        </template>
    </table>
</div>

</div>
<script src="vendor/snap.svg-min.js"></script>
<script src="person.js"></script>
<script src="video.js"></script>
<script src="app.js"></script>