<head>
    <title>Schaatsplank</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="style.css" type="text/css" />
</head>

<video id="film" preload v-show="mode > 0" transition="fade" loop>
    <source id='mp4' src="crop.m4v" type="video/mp4" />
</video>

<div class="topleft" v-if="mode == 0">
    <template v-for="distance in distances">
        <knop v-on:click="start(distance.value)">Start {{ distance.value}}</knop>
    </template>
</div>
<div class="topleft" v-if="mode > 0">
    <nos>{{match.time | time}}</nos>
    <nos>{{match.distance.toFixed(0)}}m</nos>
</div>

<div class="topleft" v-if="mode == -1">
    <knop v-on:click="home()">Terug</knop>
</div>

<div class="bottomleft" v-if="mode >= 1">
    <knop v-on:click="home()">Terug</knop>
</div>

<div class="centered" transition="bounce" v-show="hasMessage">{{message}}</div>

<div class="bottomleft wide" v-if="mode == 0">
    <table id="small-rankings">
        <thead><tr>
            <th colspan="2">
                <div class='fill'>
                    <div class='diagl'></div>
                    <a class='th darker' v-on:click="menu()">KLASSEMENT</a>
                    <div class='diagr'></div>
                </div>
            </th>
            <th class="time">
                <div class='fill'>
                    <div class='diagl'></div>
                    <div class='th darker'>PTS</div>
                    <div class='diagr'></div>
                </div>
            </th>
        </tr></thead>
        <template v-for="skater in rankings | orderBy bestRanking | limitBy 5">
            <tr class='row-spacing'><td colspan="*"></td></tr>
            <tr class='lighter'>
                <td class="darker">
                    {{ $index + 1 }}
                    <div class='diagr'></div>
                </td>
                <td><span>{{ skater.name }}</span></td>
                <td class='time darker'>
                    <div class='diagl'></div>
                    {{ skater.pts | pts }}
                    <div class='diagr'></div>
                </td>
            </tr>
        </template>
    </table>
</div>

<template name="knop">
    <h1 class='fill' style="margin: 0 0 2vw">
        <div class='diagl'></div>
        <div class='th darker'><slot></slot></div>
        <div class='diagr'></div>
    </h1>
</template>


<template name="nos">
    <h1 class='fill' style="margin: 0 0 2vw">
        <div class='diagl'></div>
        <div class='th darker'><slot></slot></div>
        <div class='diagr'></div>
    </h1>
</template>


<!--<div class="circle" id="circle"></div>-->

<!--<div id="message">-->

<!--</div>-->

<!--<div id="form">-->
    <!--&lt;!&ndash;<input type="text" name="name" id="name" placeholder="Je naam" />&ndash;&gt;-->
    <!--&lt;!&ndash;<input type="text" name="mail" id="mail" placeholder="E-mailadres, optioneel" />&ndash;&gt;-->
    <!--<button>Start</button>-->
<!--</div>-->

<div class="centerbox" v-if="mode == -1">
    <h1 class='fill' style="margin-bottom:1vw">
        <div class='diagl'></div>
        <div class='th darker'>Klassement</div>
        <div class='diagr'></div>
    </h1>
    <table id="ranking">
        <thead><tr>
            <th></th>
            <th></th>
            <th v-for="distance in distances" class="time">
                <div class='fill'>
                    <div class='diagl'></div>
                    <div class='th darker'>{{ distance.value }}m</div>
                    <div class='diagr'></div>
                </div>
            </th>
        </tr></thead>
        <template v-for="skater in rankings | orderBy bestRanking">
            <tr class='row-spacing'><td colspan="*"></td></tr>
            <tr class='lighter'>
                <td class="darker">
                    {{ $index + 1 }}
                    <div class='diagr'></div>
                </td>
                <td><span>{{ skater.name }}</span></td>
                <td v-for="rank in skater.results" class='darker time'>
                    <div class='diagl'></div>
                    <template v-if="rank.result">{{ rank.result.time | time }}</template>
                    <!--<span v-else><button>Start</button></span>-->
                    <div class='diagr'></div>
                </td>
                <td class='time darker'>
                    <div class='diagl'></div>
                    {{ skater.pts | pts }}
                    <div class='diagr'></div>
                </td>
            </tr>
        </template>
    </table>

    <div style="margin-top:6vw; width: 25%; float: right;">
        <knop v-on:click="clear_ranking()">Delete All</knop>
    </div>

    <h1 class='fill' style="margin-bottom:1vw; margin-top:1vw">
        <div class='diagl'></div>
        <a class='th darker' v-on:click="config = !config">Configuratie</a>
        <div class='diagr'></div>
    </h1>
    <table v-if="config">
        <template v-for="distance in distances">
            <tr class='lighter'>
                <td class="darker">
                    <input type="checkbox" v-model="distance.shown" />
                    <div class='diagr'></div>
                </td>
                <td><input type="text" v-model="distance.name" /></td>
                <td><input type="number" v-model="distance.value" number /></td>
            </tr>
            <tr class='row-spacing'><td colspan="*"></td></tr>
        </template>
    </table>
</div>

<div class="centerbox" v-if="mode == 0 && match.done">
    <h1 class='fill' style="margin-bottom:2vw">
        <div class='diagl'></div>
        <div class='th darker'>JOUW RESULTAAT</div>
        <div class='diagr'></div>
    </h1>
    <nos><input v-model="name" placeholder="Vul hier je naam in" debounce="300" /></nos>
    <nos>{{ match.total_distance }}m</nos>
    <nos>{{ match.time | time }}</nos>
</div>

<script src="app.js"></script>